version: "3.9"

services:
  db:
    image: postgres:15
    container_name: odoo_db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    ports:
      - "5439:5432"

  odoo:
    image: odoo:18.0
    container_name: odoo_app
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./odoo:/mnt/odoo
      - ./custom_addons:/mnt/custom_addons
      - ./config/odoo.conf:/etc/odoo/odoo.conf
    command: odoo -c /etc/odoo/odoo.conf
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo

volumes:
  odoo-db-data:
